.text{
	margin-top: 20px;
text-align: center;
}

.thumb-img {
	width: 100%;
	object-fit: cover;
}
.thumb-img:hover {
	cursor: pointer;
	opacity: .6;
}

.container {
	width: 500px;
	margin: 30px auto;
	display: flex;
	justify-content: space-between;
}

.item-thumbnail {
	width: 100px;
}

.item-mainvisual {
	width: 400px;
	object-fit: cover;
	border: solid 20px #0fbc43c0;
}

.main{
	width: 100%;
}